<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin courses</title>

</head>
<body>
<form method="post" action="/courses_update">

    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td th:text="${course.courseName}"/>
            <td th:text="${course.description}"/>
            <td th:text="${course.price}"/>
            <td th:text="${course.teacher.username}"/>
            <td>
                <button  name="edit"  th:value="${course.courseName}" type="submit">edit</button>
            </td>
            <input type="hidden" name="teachers" th:field="${teachers}" readonly/>



        </tr>
        </tbody>


    </table>
</form>


</body>
</html>