<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Language School</h1>
<button onclick="location.href = 'http://localhost:8080/courses';" id="homeButtonCourses" class="float-left submit-button" >Courses</button>
<button onclick="location.href = 'http://localhost:8080/logout';" id="homeButtonLogout" class="float-left submit-button" >Logout</button>
<button onclick="location.href = 'http://localhost:8080/panel';" id="homeButtonPanel" class="float-left submit-button" >My Account</button>


</body>
</html>