<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Courses</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th scope="col">Course name</th>
        <th scope="col">Description</th>
        <th scope="col">Teachers' name</th>
        <th scope="col">Teachers' last name</th>
        <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course: ${myCourses}">
        <td th:text="${course.course.courseName}"/>
        <td th:text="${course.course.description}"/>
        <td th:text="${course.course.teacher.firstname}"/>
        <td th:text="${course.course.teacher.lastname}"/>
        <td th:text="${course.finalGrade}"/>
    </tr>
    </tbody>


</table>


</body>
</html>