<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<h1>ADMIN PANEL</h1>

<div id="container">
    <button onclick="location.href = 'http://localhost:8080/panel/add_course';" id="addCourse" class="float-center submit-button" >Add course</button>
    <button onclick="location.href = 'http://localhost:8080/logout';" id="logout" class="float-center submit-button" >Log out</button>
    <button onclick="location.href = 'http://localhost:8080/';" id="homeButton" class="float-center submit-button" >Home</button>
    <button onclick="location.href = 'http://localhost:8080/courses_admin';" id="showCourses" class="float-center submit-button" >Courses</button>


</div>

</body>
</html>