<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEACHER PANEL</title>
</head>
<body>
<h1 th:text="${'Hello '+ user.firstname}"/>

<button onclick="location.href = 'http://localhost:8080/add_grades';" id="addGrades" class="float-left submit-button" >Add grades</button>
<button onclick="location.href = 'http://localhost:8080/edit_grades';" id="editGrades" class="float-left submit-button" >Edit grades</button>
<button onclick="location.href = 'http://localhost:8080/set_final_grades';" id="setFinalGrades" class="float-left submit-button" >Set final grades</button>




</body>
</html>