<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <form action="/register"  method="POST">
        First name:

        <input type ="text" name="firstname"/>
        Last name:
        <input type="text" name="lastname"/>
        Email:
        <input type="text" name="username"/>
        Password:
        <input type="password" name="password"/>
        <button type="submit">Register</button>




    </form>

</div>


</body>
</html>